<header class="bg-primary text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- <form class="my-2 my-lg-0"> -->
      <div class="container">
        <div class="row">
          <div class="col-sm">
          <h2>나의 Stack 등록</h2>
          <%= form_tag stacks_path, class: "justify-content-center" do%>
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <%= link_to '등록', main_mypage_add_stack_path, class: "btn btn-light my-2 my-sm-0" %> -->
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
